priority 10

snippet comp "Component"
@Component(\{
    selector: '${1:component}',
    pipes: [$5],
    providers: [$6],
    directives: [$7],
    styles: [$8],
    template: \`
	$9
    \`
\})
export class ${1/(\w+)-*/\u$1/g}${2: implements OnInit} \{

    constructor($3) \{
	$4
    \}

    $0
\}
endsnippet
