priority 10

snippet iface "Interface"
${1:export }interface $2 \{
    $0
\}
endsnippet

snippet cli "Class implemets"
class $1 implemets $2 \{
    $0
\}
endsnippet


snippet clix
${1:export }class ${2:SomeClass} extends ${3:OtherClass} implements ${4:Interface} {
    ${0}
}
endsnippet


snippet _prop "Private property"
private _$1${2:: ${3:Type}}${4: = ${5:undefined}};
endsnippet


extends javascript-es6
extends javascript
